[Desktop Entry]
Name=ZenShot
GenericName=Screen Capture Tool
Comment=Ultra-fast, featherlight Lightshot alternative for Linux
Exec=zenshot
Icon=zenshot
Terminal=false
Type=Application
Categories=Utility;Graphics;
Keywords=screenshot;capture;lightshot;screen;snip;zenshot;
StartupNotify=false
